@import url('../lib/font-awesome-4.7.0/css/font-awesome.min.css');
@import url('../lib/summernote/summernote-bs4.css');

:root {
    --main-bg: rgb(245, 245, 245);
    --main-color: rgb(248, 248, 255);
    /* --second-bg: rgb(42, 63, 84); */
    --second-bg: rgb(106, 118, 135); /* test site color */
    --second-color: rgb(255, 255, 255);
    --header-color: rgb(33, 33, 33);
    --required-color: rgb(255, 0, 0);
    --dropdown-divider: rgba(181, 189, 196, 0.5);
    --list-bg: rgba(235, 235, 235, 0.1);
    --restday-bg: rgb(255, 242, 222);
    --holiday-bg: rgb(242, 184, 179);

}

body {
    position: relative;
    background: var(--main-bg);
}

.bg-k2 {
    background: var(--second-bg);
    color: var(--second-color);
}

.sidebar-navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    text-align: left;
    transition: all 0.3s linear;
    z-index: 999;
    overflow-y: auto;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.75em;
    line-height: 2em;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.card-header a, h2 a i.fa {
    color: var(--header-color);
}

i.fa {
    margin-right: 10px;
}

.dropdown-divider-dark {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid var(--dropdown-divider);
}

.todaysdate {
    padding: 10px 0;
    text-align: center;
}

.required {
    color: var(--required-color);
}

.employee-list {
    font-size: .75em;
}

ul.list-group.list-group-striped li:nth-of-type(even){
    background: var(--list-bg);
}

table a {
    display: block;
    color: var(--header-color);
}

th, td {
    width: 14.285%;
}

th a {
    color: var(--main-color);
}

th a:hover {
    color: var(--main-bg);
}

.table .thead-dark th.workday {
    background: var(--second-bg);
}

.table .thead-dark th.restday {
    background: var(--restday-bg);
}

.table .thead-dark th.holiday {
    background: var(--holiday-bg);
}

.table .thead-dark th.restday a,
.table .thead-dark th.holiday a {
    color: var(--header-color);
}

.table-bordered td {
    border: 1px solid var(--header-color);
}

@media (max-width: 768px) {
    .employee-list {
        font-size: 1em;
        padding-bottom: 5px;
    }
    .table {
        font-size: .75em;
    }
    h2 {
        font-size: 1.5em;
    }
    h5 {
        font-size: 1em;
        font-weight: bold;
    }
}

@media (max-width: 992px) {
    .sidebar-navbar {
        position: relative;
        height: auto;
    }
}
